<% errors.forEach((message) => { %>
<div class="w-full bg-red-300 border-b-2 border-gray-900 text-center py-2">
  <%= message %>
</div>
<% }) %> <% success.forEach(function(message){ %>
<div class="w-full bg-green-300 text-center py-2"><%= message %></div>
<% }) %>
