<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      />
      <title>OurApp</title>
    </head>
    <body>
      <header class="flex justify-between px-16 py-4 bg-gray-900 text-white">
        <div class="text-2xl">OurApp</div>
        <div>
          <a href="/create-post" class="bg-green-600 rounded px-2 py-1"
            >Create Post</a
          >
          <a
            href="/signout"
            class="cursor-pointer bg-gray-600 rounded px-2 py-1"
            >Sign Out</a
          >
        </div>
      </header>
    </body>
  </html>
</html>
