<%- include("includes/header") %>
<main>
  <%- include("includes/flash") %>
  <form
    class="flex flex-col py-16 px-72 gap-2"
    action="/create-post"
    method="post"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label>Title</label>
    <input class="border rounded px-2 py-2" type="text" name="title" />
    <label>Body Content</label>
    <textarea name="body" class="border rounded h-96 px-2 py-2"></textarea>
    <button type="submit" class="text-white w-32 bg-blue-600 rounded px-2 py-2">
      Save New Post
    </button>
  </form>
</main>
<%- include("includes/footer") %>
