<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <title>Create Post</title>
  </head>
  <body>
    <header class="flex justify-between px-16 py-4 bg-gray-900 text-white">
      <div class="text-2xl">OurApp</div>
      <div>
        <button class="bg-green-600 rounded px-2 py-px">Create Post</button>
        <button class="bg-gray-600 rounded px-2 py-px">Sign Out</button>
      </div>
    </header>
    <main>
      <form class="flex flex-col py-16 px-72 gap-2">
        <label>Title</label>
        <input class="border rounded px-2 py-2" type="text" name="title" />
        <label>Body Content</label>
        <textarea class="border rounded h-96 px-2 py-2"></textarea>
        <button class="text-white w-32 bg-blue-600 rounded px-2 py-2">
          Save New Post
        </button>
      </form>
    </main>
  </body>
</html>
