<%- include("includes/header.ejs") %>

<main>
  <%= posts %>
  <div class="flex flex-col items-center text-center px-96 py-16">
    <div class="text-3xl">Hello <strong>user</strong>, your feed is empty.</div>
    <p class="text-gray-500">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore,
      excepturi nesciunt, rerum aut accusantium repellat numquam voluptas
      perferendis non repudiandae quia maxime quod architecto. Consequatur quia
      maiores tenetur accusantium quaerat?
    </p>
  </div>
</main>

<%- include("includes/footer.ejs") %>
