<%- include("includes/header.ejs") %>
<main>
  <div class="px-96 py-16">
    <div class="text-4xl mb-4">user</div>
    <div class="flex gap-2 text-blue-400">
      <a href="./profile" class="border px-2 py-1">Posts: 1</a>
      <a href="./profile-followers" class="px-2 py-1">Followers: 0</a>
      <a href="./profile-following" class="px-2 py-1">Following: 0</a>
    </div>
    <div class="border rounded px-3 py-2 my-4 hover:bg-gray-100 cursor-pointer">
      <span class="font-semibold">hello everybody</span>
      <span>on 21/01/2023</span>
    </div>
  </div>
</main>
<%- include("includes/footer.ejs") %>
