<%- include("includes/header.ejs") %>

<main>
  <div class="px-96 py-16">
    <div class="text-4xl">hello everybody</div>
    <div class="text-gray-500 text-sm mb-6">
      Posted by <span class="text-blue-500">user</span> on 21/01/2023
    </div>
    <div class="text-gray-600">Lorem ipsum dolor sit amet.</div>
  </div>
</main>

<%- include("includes/footer.ejs") %>
