<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <title>Create Post</title>
  </head>
  <body>
    <header class="flex justify-between px-16 py-4 bg-gray-900 text-white">
      <div class="text-2xl">OurApp</div>
      <div>
        <button class="bg-green-600 rounded px-2 py-px">Create Post</button>
        <button class="bg-gray-600 rounded px-2 py-px">Sign Out</button>
      </div>
    </header>
    <main>
      <div class="px-96 py-16">
        <div class="text-4xl">hello everybody</div>
        <div class="text-gray-500 text-sm mb-6">
          Posted by <span class="text-blue-500">user</span> on 21/01/2023
        </div>
        <div class="text-gray-600">Lorem ipsum dolor sit amet.</div>
      </div>
    </main>
    <hr />
    <footer class="mt-1 text-sm text-gray-500 text-center">
      Copyright © 2023 OurApp. All rights reserved.
    </footer>
  </body>
</html>
